.app-wrapper {
  width:100vw;
  height: 100%; /* 기존 min-height 제거 */
  display: flex;
  flex-direction: column;
  align-items: center; 
  background: #ffffff;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
